# Ignore virtual environments
venv/
__pycache__/
*.pyc

# Ignore environment variables
.env

# Ignore local image uploads/temp files
*.jpg
*.jpeg
uploads/

.env
__pycache__/
uploads/
*.sqlite3
*.xcuserstate
xcuserdata/
